@media (max-width: 500px) {
	.banner-side {
		display: none;
	}
	.banner-side-signup {
		display: none;
	}
	.form-side {
		grid-template-rows: 1.2fr 2.5fr;
	}
	.form-header {
		background-image: url(../assets/loadingNgCashBlack.gif);
		min-width: 100vw;
		background-position: center center;
		background-attachment: scroll;
		background-repeat: no-repeat;
		background-size: cover;
	}

	//SIGN UP

	.signup-form {
		min-width: 80vw;
	}

	.signup-title {
		h1 {
			font-size: 2rem;
		}
		p {
			font-size: 1rem;
			flex-wrap: wrap;
		}
	}
	.form-side-signup {
		display: flex;

		align-items: stretch;
		justify-content: center;
		width: 100vw;
	}

	.input p {
		font-size: 0.7rem;
	}

	//HOMEPAGE

	.container-size {
		width: 100vw;
		height: 100vh;
	}

	.grid-homepage {
		width: 100vw;
		height: 100vh;
		display: flex;
		flex-direction: column;
	}

	.wallet-balance-homepage {
		display: flex;
		width: 10%;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 0px 20px;
		height: 200px;
	}
	.balance-homepage {
		height: 50px;
		width: 85vw;

		h4 {
			font-size: 1rem;
		}
	}

	.money-homepage {
		img {
			width: 18px;
		}
	}

	.wallet-buttons {
		width: 90vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 150px;
		gap: 20px;

		a {
			min-width: 90vw;
			width: 100vw;
			height: 50px;
		}
	}

	.wallet-container-homepage {
		width: 100vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		order: -2;
	}

	.title-homepage {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.card-preview-homepage {
		width: 100vw;
		height: 290px;
		padding: 0px;

		p {
			width: 90vw;
			padding-top: 10px;
		}
	}

	.card-homepage {
		width: 90vw;
		margin: 0px;
		height: 290px;
		margin-top: 20px;

		img {
			top: 90px;
		}

		h1 {
			top: 80px;
		}

		#number-card-homepage {
			top: 80px;
		}
	}

	.logout-homepage {
		display: none;
	}
	.main-content-homepage {
		order: -2;
		border: none;
		height: 100vh;
	}
	.header-homepage {
		border: none;
	}

	// HISTORY

	.history-container {
		height: auto;
		border-radius: 10px;
	}
	.nav-filter-history {
		width: 100vw;

		padding-left: 0px;
	}
	.filters-history {
		justify-content: space-evenly;
		width: 100vw;

		select {
			width: 50vw;
			margin-right: 30px;
		}
	}

	//ITEM

	.item-container-transaction {
		width: 100%;
		//background: red;
		grid-template-columns: 1vw 10px 10v;

		padding: 0px;

		img {
			width: 30px;
		}
	}
	.icon-transaction {
		//background: tomato;
		width: 15vw;
	}

	.infos-transaction {
		//background: blue;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: center;
		max-width: 100%;
		padding-left: 0px;
		height: 80px;

		h2 {
			font-size: 0.75rem;
		}

		h3 {
			font-size: 0.7rem;
		}
		h5 {
			font-size: 0.7rem;
			font-weight: 400;
		}
	}

	.values-transaction {
		display: flex;
		width: 25vw;
		justify-content: space-evenly;
		align-items: center;
		//background: yellow;

		h2 {
			font-size: 0.7rem;
		}
		h3 {
			font-size: 0.7rem;
		}
	}

	// TRANSACTIONS

	.container-transactions {
		min-height: 40vh;
		gap: 0px;
		margin: 0px;
		//background: tomato;
	}
	.form-container-transaction {
		background: $light-grey;

		height: fit-content;
	}

	.form-container {
		//background: green;
		height: 35%;
		width: max-content;
		max-width: 10vw;
		min-width: 80vw;
	}

	.banner-transaction {
		display: none;
	}

	.confirm-transaction {
		//background: orange;
		padding-top: 20px;
		height: 100%;
	}
}
