.input {
	display: flex;
	flex-direction: column;
	height: 92px;
	position: relative;
	width: 100%;
	.label {
		padding-bottom: 10px;
		font-weight: 500;
		font-size: 0.81rem;
	}
	input {
		position: relative;
		height: 40px;
		border: 1px solid $black;
		border-radius: 5px;
		padding-left: 10px;
		font-family: "IBM Plex Sans", sans-serif;
		outline: none;
		font-weight: 600;
		font-size: 1.08rem;
		color: $purple;
		&:focus &::placeholder {
			font-size: 1rem;
		}

		&::placeholder {
			color: rgb(189, 189, 189);
			font-size: 0.8rem;
			font-weight: 500;
		}
	}

	p {
		padding-top: 5px;
		text-align: end;
		font-size: 0.7rem;
		color: $purple;
		font-weight: 700;
	}
}

.password-container {
	display: flex;
	align-items: center;

	.input-password {
		width: 90%;
		border-right: none;
		border-bottom-right-radius: 0px;
		border-top-right-radius: 0px;
	}

	.eye-icon {
		cursor: pointer;
		display: flex;
		width: calc(40px - 2px);

		border: 1px solid $black;
		border-left: none;
		height: calc(100% - 2px);
		align-items: center;
		justify-content: center;
		border-bottom-right-radius: 5px;
		border-top-right-radius: 5px;
	}
}

#black  {
	color: $black;
}

#white  {
	color: $white;
}
