.grid-login-signup {
	display: grid;
	grid-template-columns: 3fr 400px;
}

.banner-side {
	background: $black;
}
.form-side {
	display: grid;
	grid-template-rows: 1fr 2.5fr;
}

.form-header {
	background-size: cover;
	background-image: url(../../assets/ng-banner.png);
}

.grid-login {
	background: $white;
	grid-template-rows: 1fr 1fr 2fr;
	padding: 25px;
}

.login-title {
	min-height: 130px;
	display: flex;
	flex-direction: column;
	h1 {
		font-size: 2.8rem;
		font-family: "IBM Plex Sans", sans-serif;
	}
	p {
		display: flex;
		align-items: center;
		height: 35px;
		font-weight: 600;
		font-family: "IBM Plex Mono", monospace;
		font-size: 1.1rem;
		span {
			color: $purple;
			font-weight: 700;
			padding-right: 10px;
		}
	}
}

.login-form {
	height: 320px;
	position: relative;

	.btn-entrar-container {
		display: flex;
		flex-direction: column;
		position: absolute;
		bottom: 0;
		width: 100%;

		p {
			text-align: end;
			padding-bottom: 5px;
			font-size: 0.8rem;
			font-weight: 600;
			font-family: "IBM Plex Sans", sans-serif;

			span {
				color: $purple;
				font-family: "IBM Plex Sans", sans-serif;
				font-weight: 700;
				cursor: pointer;
			}
		}
		.btn {
			height: 40px;
			border: 1px solid $black;
			border-radius: 5px;
			font-weight: 600;
			font-size: 1.1rem;
			font-family: "IBM Plex Sans", sans-serif;

			box-shadow: 3px 3px 0px 2px $purple;
			border: 1px solid black;
			box-shadow: 3px 3px 0px 2px $purple, 5px 5px 0px 1px $black;
			cursor: pointer;

			&:active {
				background: rgb(206, 206, 206);
			}
		}
	}
}

//font-family: 'IBM Plex Mono', monospace;
//font-family: 'IBM Plex Sans', sans-serif;
